.copy-button {
  background: green;
  border: none;
  color: #ccc;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  gap: 6px;
  font-family: inherit;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.copy-button svg {
  background-color: blue;
  display: block;
  height: 100%;
}
.copy-button span {
  background-color: blue;
  display: block;
  height: 100%;
}
.copy-button polyline {
  transform: scaleX(0.8);


}

.copy-button:hover,
.copy-button:focus {
  color: #fff;
  outline: none;
}

.copy-label {
  user-select: none;
}
