


.Track_Indicator-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  pointer-events: auto;
  z-index: 5;
}

.Track_Indicator-track {
  position: relative;
  width: 90%;
  max-width: 100%;
  height: 10px;
  background-color: #ff0000;
  overflow: visible;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Track_Indicator-section {
  flex: 1;
  height: 10px;
  background-color: #007d02;
  transition: background-color 0.25s ease-in-out;
  z-index: 1;
}

.Track_Indicator-section:hover {
  background-color: #000000;
}


.Track_Indicator-bar {
  position: absolute;
  top: 0;
  height: 10px;
  width: auto;
  z-index: 1;
  background-color: #007bff;
  transition: left 0.25s ease-in-out, width 0.25s ease-in-out;
}