
.Slide_2 {
  width: 100%;
  height: 100%;
}

#Slider_2 .Slide-inner.inner0 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Slider_2 .Slide-inner.inner0 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#Slider_2 .Slider-slide.active .Slide-inner.inner0 img{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

#Slider_2 .Slider-slide.right .Slide-inner.inner0 img{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;

}
#Slider_2 .Slider-slide.left .Slide-inner.inner0 img{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}


