
.SliderElement_Container {
  width: 100%;
  height: 100%;
  display: flex;
}

.Slider_Container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: rgb(0, 0, 0, 0.5);
  background-color: rgb(0, 109, 2);
}

.SliderScreen {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.SliderScreen_Slider_Main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SliderScreen_Slider_Preview {
  width: 100%;
  height: 100%;
}


.SliderScreen_Slider_Preview .Slider_Slide {
  font-size: 15px;
}

.SliderScreen_Slider_Preview .Slider_Slide:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.SliderScreen_Slider_Preview .Slider_Slide.CurrentSlide {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.SliderScreen_Slider_Preview .Slider_Inner {
  display: block;
}
