
.PhotoSlide {
  width: 100%;
  height: 100%;
}

#Slider_0 .Slide-inner.inner0 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Slider_0 .Slide-inner.inner0 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#Slider_0 .Slider-slide.active .Slide-inner.inner0 img{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    filter: blur(0px);
}
#Slider_0 .Slider-slide.right .Slide-inner.inner0 img{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    filter: blur(12px);
}
#Slider_0 .Slider-slide.left .Slide-inner.inner0 img{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    filter: blur(12px);
}






























#Slider_1 .PhotoSlide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Blurred background */
#Slider_1 .Slide-inner.inner0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(12px);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Focused content, same size as container */
#Slider_1 .Slide-inner.inner1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  width: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: initial;
}




#Slider_1 .Slider-slide.active .Slide-inner.inner1 img {
  opacity: 1;
  transform: scale(1);
  transition: all 1s ease-in-out;
}

#Slider_1 .Slider-slide.right .Slide-inner.inner1 img {
  opacity: 0;
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}

#Slider_1 .Slider-slide.left .Slide-inner.inner1 img {
  opacity: 0;
  transform: scale(1.2);
  transition: all 4s ease-in-out;
}





























#Slider_2 .Slide-inner.inner0 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Slider_2 .Slide-inner.inner0 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#Slider_2 .Slider-slide.active .Slide-inner.inner0 img{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

#Slider_2 .Slider-slide.right .Slide-inner.inner0 img{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;

}
#Slider_2 .Slider-slide.left .Slide-inner.inner0 img{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}

















/* Make sure the wrapper around the Slider fills the available space */
.slider-wrapper {
  width: 100%;
  height: 42vh;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}






































#Slider_3 .PhotoSlide {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Blurred background */
#Slider_3 .Slide-inner.inner0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(12px);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Focused content, same size as container */
#Slider_3 .Slide-inner.inner1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  width: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: initial;
}




#Slider_3 .Slider-slide .Slide-inner.inner0 {
  transition: all 1s ease-in-out;
}
#Slider_3 .Slider-slide .Slide-inner.inner1 img{
  transition: all 1.5s ease-in-out;
}
#Slider_3 .Slider-slide.active .Slide-inner.inner1 img {
  transform: translateX(0%);
}

#Slider_3 .Slider-slide.right .Slide-inner.inner1 img {
  transform: translateX(100%);
}

#Slider_3 .Slider-slide.left .Slide-inner.inner1 img {
  transform: translateX(-100%);
}











