.NavOption {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin-right: 30px;
  width: auto;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  white-space: nowrap;
  list-style: none;
}

.NavOption a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 13px;
  font-family: Arial, Verdana, sans-serif;
  color: white;
  text-transform: uppercase;
}

.NavOption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  z-index: -1;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.2s ease-out;
}

.NavOption:hover::before,
.NavOption:focus-within::before {
  opacity: 1;
  transform: translateX(0%);
}

.NavOption::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  z-index: -1;
  transform: translateX(0%);
  opacity: 0;
  transition: transform 0.2s ease-out;
}

.NavOption:not(:hover):not(:focus-within)::after {
  opacity: 1;
  transform: translateX(100%);
}

/* Optional: target specific nav-item by id */
#nav-item-Shop {
  position: absolute;
  right: 0;
}
