.OptionItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: black;
  color: #fff;
  transition: background-color 0.2s, color 0.2s;
}

.OptionItem.active {
  background-color: #fff;
  color: #000;
  border: 1px black solid;
}

.OptionItem.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.OptionItem-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  flex: 0 0 28px;
}

.OptionItem-content {
  flex-grow: 1;
  font-size: 16px;
}

.OptionItem-checkbox {
  margin-left: 10px;
}

.OptionItem-expandIcon {
  margin-left: 10px;
  cursor: pointer;
}

.OptionItem-link {
  text-decoration: none;
}

.OptionItem-Title {
  font-weight: bold;
}

.OptionItem-checkbox input {
  width: 20px;
  height: 20px;
}

.OptionItem-icon-svg,
.OptionItem-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  color: inherit;
  fill: currentColor;
}

.OptionItem-icon-svg svg,
.OptionItem-icon svg * {
  stroke: none;
}
