.Slider_Container {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Slider_Container .Slider {
  position: relative;
  width: 10%;
  height: 10%;
  transform-style: preserve-3d;
    transform: perspective(1000px);

  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateY(0deg);
    
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.Slider_Container .Slider .Item {
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc(var(--position) * (360deg / var(--total))))
    translateZ(400px);
  background-color: #1e8900; 
  border: 1px white solid;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
