.DropdownItem {
  position: relative;
  font-family: sans-serif;
}

.DropdownList {
  position: absolute;
  top: 0;
  left: 100%; 
  background-color: #222;
  min-width: 150px;
  z-index: 1000;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  border: 1px solid white;
  background-color: black;
}
.DropdownItem .OptionItem {
  border-radius: 0;
}

.DropdownList.Right {
  left: 100%;
  top: 0;
}

.DropdownList.right {
  top: 0;
  left: 100%;
}

.DropdownList.left {
  top: 0;
  right: 100%;
}

.DropdownList.top {
  bottom: 100%;
  left: 0;
}

.DropdownList.bottom {
  top: 100%;
  left: 0;
}
