.Sidebar_Outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.Sidebar_Field {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Sidebar_Field_Sidebar {
  position: absolute;
  background-color: black;
  color: white;
  z-index: 10;
  will-change: transform;
  display: block;

  
}

.Sidebar_Field_OpenButton {
  position: absolute;
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}