.Sidebar_Config_Container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sidebar_Config_Container .Sidebar_Content {
  padding: 20px;
}

.Sidebar_Outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  overflow: visible;
}

.Sidebar_Field {
  position: absolute;
  background-color: black;
  color: white;
  overflow: visible;
  transition: transform 0.3s ease;
  z-index: 10;
}

.Sidebar_Field-left {
  top: 0;
  left: 0;
  height: 100%;
}

.Sidebar_Field-right {
  top: 0;
  right: 0;
  height: 100%;
}

.Sidebar_Field-top {
  top: 0;
  left: 0;
  width: 100%;
}

.Sidebar_Field-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
}

.center-button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}
