.Sidebar_Outer {

  width: 100%;
  height: 100%;





  width: 100%;
  height: 100%;
  position: absolute;
}


.Sidebar_Field {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 10;
    pointer-events: none !important;

}

.Sidebar_Field_Sidebar {
  position: absolute;
  background-color: black;
  color: white;
  z-index: 10;
  will-change: transform;
  display: block;

  
}

.Sidebar_Field_OpenButton {
  position: absolute;
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}