#sectionScreen-Linguana .sectionScreen {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionScreen-Linguana .header {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    color: white;
    background: rgba(0, 0, 0, 0);
    
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    
    padding-bottom: 300px; 
    
    text-align: center;
}

#sectionScreen-Linguana .header1 {
    transform: scaleX(0.9) scaleY(1);
    width: 100%;
    font-size: 50px;
    font-weight: 0;
    font-family: Arial, Verdana, sans-serif;
    text-transform: uppercase;
}
#sectionScreen-Linguana p {
    font-size: 20px;
}
  

  

  
#sectionScreen-Linguana .stagger-container.is-visible .stagger-item.image-item {
    opacity: 0.9;
    transform: translateY(0); /* keep final transform state */
    /* Only transition opacity, no transform transition */
    transition: opacity 0.8s ease-out;
    transition-delay: 0.8s;

  }
  
  