.SliderElement_Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Slider_WindowVisible {
  overflow: hidden;
}

.Slider_Inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Slider_SlidesContainer {
  will-change: transform;
  user-select: none;
  box-sizing: border-box;
  transition: transform 300ms cubic-bezier(.22,.9,.32,1);
  flex: 0 0 auto;
}

.Slider_Slide {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px white solid;
  font-size: 50px;
}
