








/* Navigation buttons */
#Slider-config_0 .sliderNav {
  z-index: 2;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

#Slider-config_0 .nav-button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.Slider-config-slide-inner.inner0 {
  height: 100%;
  width: 100%;
}

#Slider-config_0 .nav-button {
  height: 100px;
  width: 50px;

  pointer-events: all;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  z-index: 20;
  transition: all 0.3s ease;
}

#Slider-config_0 .nav-button:hover {
  background-color: white;
  color: black;
}