


#Slider-config_1 .slider-slide.active .Slider-config-slide-inner.inner2 img {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.5s ease-in-out;
}

#Slider-config_1 .slider-slide.right .Slider-config-slide-inner.inner2 img {
  opacity: 1;
  transform: translateX(150%);
  transition: all 1.5s ease-in-out;
}
#Slider-config_1 .slider-slide.left .Slider-config-slide-inner.inner2 img {
  opacity: 1;
  transform: translateX(-150%);
  transition: all 1.5s ease-in-out;
}