



.Slider-inner {
  width: 90%;
}



#Slider_3 .Slide_1 {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Blurred background */
.slide-inner.inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(12px);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Focused content, same size as container */
.slide-inner.inner2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  width: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: initial;
}




#Slider_3 .Slider-slide .slide-inner.inner1 {
  transition: all 1s ease-in-out;
}
#Slider_3 .Slider-slide .slide-inner.inner2 img{
  transition: all 1.5s ease-in-out;
}
#Slider_3 .Slider-slide.active .slide-inner.inner2 img {
  transform: translateX(0%);
}

#Slider_3 .Slider-slide.right .slide-inner.inner2 img {
  transform: translateX(100%);
}

#Slider_3 .Slider-slide.left .slide-inner.inner2 img {
  transform: translateX(-100%);
}


