.NavBar-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;

}



.NavBar {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1001;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;



  position: absolute;
  /*background-color: rgba(0, 128, 0, 0.4);*/
  height: 100%;
  pointer-events: none;
}

.NavBar-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.NavBar-content {

  position: sticky;
  top: 0;              /* same top to stick at the container top */
  width: 100%;
  z-index: 1000;       /* below navbar */
  margin-top: -100px;  /* pull up content to overlap under navbar */
  overflow: hidden;

  margin-top: 0;
  height: 100%;
  overflow: auto;
}









.NavBar-inner {
  position: absolute;
  z-index: 10;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

  pointer-events: auto;

  top:0;


}



.NavBar-inner {
  position: absolute;
  z-index: 10;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: auto;
  top: 0;
}

.NavBar-inner-hidden {
  opacity: 0;
  transform: translateY(-20%);
}

.NavBar-courtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Match NavBar-inner */
  z-index: 0;    /* Behind NavBar-inner */
  background-color: rgb(0, 0, 0); 
  transition: transform 0.3s ease-out;
  pointer-events: none;
  transform: translateY(-100%);
  opacity: 1;
}

.NavBar-courtain-hidden {
  transform: translateY(-100%);
}

.NavBar-courtain:not(.NavBar-courtain-hidden) {
  transform: translateY(0%);
}



.NavBar-courtain::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 12px;
}

.NavBar-courtain::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.75);
}

.NavBar-courtain::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.NavBar-courtain::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}













