
.NavBar-wrapper {
  position: relative; 
}

.sidebar-curtain {
  position: absolute;
  top: 0;
  left: 0;            
  width: 100%;
  height: 100%;
  z-index: 1000;       
}

.sidebar {
  background-color: black;

  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: flex-end;

  pointer-events: all;
  transition: width 0.5s ease-in-out;
  
  width: 0;



}
.sidebar.open {
  width: 350px;
}


.sidebar-optionsList {
  width: 100%;

  margin: 27% 10% 0 10%;
  
  position: relative;
  display: flex;
  flex-direction: column;

}

/* Link styles */
.sidebar-optionsList a {
  text-decoration: none;
}

.sidebar-optionsList-item {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.8s ease-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.4s ease forwards;

  margin-top: 20px;
}

.sidebar-optionsList-item:hover {
  color: rgba(255, 255, 255, 0.5);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
    margin-top: 0px;
  }
}







@keyframes slideDown {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(0);
  }
}

.sidebar.open .sidebar-optionsList {
  animation: slideDown 0.5s forwards;
}
