
.ArrowButton_0.style_0 {
  pointer-events: all;

  cursor: pointer;
  user-select: none;
  z-index: 20;












  
  background-color: black;
  color: white;
  border: 2px solid white;
  
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

.ArrowButton_0:hover.style_0 {
  background-color: white;
  color: black;
}