
.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  /* Footer stays at bottom */
  .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: black;

    color: #eee;
    box-sizing: border-box;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 0.9em;
  }
  
  
  
  
  