









.AppWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}


.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: black;

    color: #eee;
    box-sizing: border-box;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 0.9em;
  }
  
  
.AppContent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
  
  