:root {
  background-color: black;
  font-family: 'Inter', sans-serif;
  top: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


::-webkit-scrollbar {
  width: 12px;
  position: absolute;
  z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
