.m_b {
    border: 1px solid white;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 113, 0);
    position: relative;
    z-index: 1000;
    pointer-events: all;
}

.m_b:hover {
  background-color: red;
}

.m_f {
    background-color: rgba(0, 0, 0, 0.463);
    border: 1px solid white;
    box-sizing: border-box;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 11;
}


