.CodeShowcase .LearnMoreButton {
    opacity: 1;
    transform: translateY(0%);
}
  


#ready-components-slider {
  background: linear-gradient(to top, black 1%, rgb(159, 159, 159) 40%);
}





#ready-components-slider .slider-slide .code-sections {
  transition: all 1s;
}
#ready-components-slider .slider-slide.left .code-sections {
  transform: translateX(-100%);
  opacity: 0;
}
#ready-components-slider .slider-slide.active .code-sections {
  transform: translateX(0);
  opacity: 1;
}
#ready-components-slider .slider-slide.right .code-sections {
  transform: translateX(100%);
  opacity: 0;
}