

.s0 {
  background-color: rgb(189, 180, 165);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

#readyComponents .Slider-nav {
  width: 70%;
}








.Slider-outer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider-inner {
  width: 90%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  
}

.Slider-track-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Slider-track-0 {
  z-index: 1;
  width: 100%;
  height: 100%;

}
.Slider-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}













