.Dropdown {
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 60px;
    width: 175px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-family: Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
}
  